#footer{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: -1rem;
    margin-top: 4vw;
    margin-bottom: 1rem;
    background: black;
    position:sticky;
    align-content: center;
    
}

.navLinks{
    display: inline-flex;
}

.ftext{
    color:white;
    padding: 2rem;
}

.icons{
     padding: 2rem;
}